{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-lg-0" src="{% static 'img/about2.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Tradición Peruana</span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>Fundada en 1987 Con el propósito de mostrar nuestro compromiso con la calidad y ser altamente competitivos en el mercado; en AGRINSA desarrollamos un Sistema de Gestión de Calidad para lo cual hemos establecido lineamientos especificos para este fin</p>
                <p>Somos una empresa fabril del sector alimenticio dedicada a la refinación y comercialización de aceite vegetal destinado al consumo humano, industrias de alimentos, restaurantes, pollerías, instituciones diversas con programas sociales, entidades del estado. Industrias farmacéuticas e industrias químicas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
    