{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Cabecera -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid  mb-lg-0 rounded" src="{% static 'img/home1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper text-center">Déjate sorprender</span>
            <span class="section-heading-lower text-center">Te gustará</span>
          </h2>
          <p class="mb-3 home">Trabajamos sólo con los mejores ingredientes. Una vez lo pruebes, nuestro aceite será un ingrediente indispensable de tu cocina.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="store.html">Compranos</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Mensaje -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper text-center">Compromiso total</span>
              <span class="section-heading-lower text-center">Garantia</span>
            </h2>
            <div class="mb-0">Aceite 100% vegetal, libre de soya transgenica. Ideal para ensaladas, frituras, preparacion de mayonesa y para todo tipo de reposteria.</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

    