{% if request.user.is_staff %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <span class="navbar-brand" href="#"><i>Administrar</i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nep">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista-clientes' %}"><i>Listar Clientes</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista-ventas' %}"><i>Listar Ventas</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista-ventasT' %}"><i>Listar Ventas Totales</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista-pagos' %}"><i>Listar Pagos</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista-pagosT' %}"><i>Listar Pagos Totales</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista-saldos' %}"><i>Listar Saldos</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}"><i>Administrador</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}